html, body {
  background-color: rgb(15, 60, 66);
  font-family: "Open Sans", sans-serif;
  font-size: 16px; /* حجم النص الأساسي */
  padding: 0;
  margin: 0;
}

.player-container {
  display: flex;
  justify-content: center;
  height: 100vh; /* Full viewport height */
}

.slider img {
  border-radius: 10px;
  margin-right: auto;
  margin-left: auto;
  max-width: 65%;
}

.image-caption-wrapper {
  position: relative;
  display: inline-block;
}

.channel-caption {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px 10px;
  font-size: 15px;
  border-radius: 5px;
  margin-bottom: 5px;
  text-align: center;
  width: auto;
  min-width: 50%;
  max-width: 80%;
  z-index: 1;
}

.section-title {
  text-align: right;
  margin-top: 20px;
  width: 97%; 
  font-size: 1.50rem; /* استخدام وحدات نسبية */
  color: white;
}
.slick-slide {
  margin-left:-20px;
  margin-right: -30px;
}


.slider {
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  border-radius: 5px;
  
}

/* استعلامات الوسائط */
@media (min-width: 768px) {
  body {
      font-size: 18px; /* تكبير حجم النص الأساسي على الشاشات الأكبر */
  }

  .section-title {
      font-size: 1.5rem; /* ضبط حجم النص بناءً على الحجم الأساسي الجديد */
  }
}

@media (min-width: 1200px) {
  body {
      font-size: 20px; /* تكبير حجم النص الأساسي أكثر على الشاشات الكبيرة */
  }

  .section-title {
      font-size: 1.75rem; /* ضبط حجم النص بناءً على الحجم الأساسي الجديد */
  }
}
